/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

/* Changing the main font and background colour */

body {
	background-color: transparent !important;
	background-image: url("../images/texture.jpg");
}

/* Changing the background colour for the header */

header {
	background-color: #EEE4CF;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #757B33;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Corporate navbar */

#navbar-corporate a.active {
	color: #E3A925;
	text-shadow: 1px 1px #eb6447 
}

/* Hero Section shadow */

.white-shadow {
	text-shadow: -.01em -.01em .01em white,
		.02em .02em .02em white,
		0 0 .2em white,
		0 0 .5em white;
}
.body-part1 {
	background-color: #273726;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.text-style1 {
	color: #E3A925; 
	text-shadow: 2px 2px #eb6447 }


.montserrat-famvan {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400 ;
  font-style: normal;
}
.maintext {
	text-decoration-color: bla
}
 .section {
            padding: 50px;
            text-align: center;
            color: #fff;
	        width: 100%;
	 		box-sizing: border-box;
        }
        #section1 {
            background-color: #273726;
        }
        #section2 {
            background-image: url('photo_texture.jpg');
            background-size: cover;
            background-position: center;
        }
        #section3 {
            background-color: orange;
        }
        .section h2 {
            font-size: 32px;
            margin-bottom: 20px;
        }
        .section p {
            font-size: 18px;
        }
        .image-links {
            display: flex;
            justify-content: center;
            margin-top: 30px;
        }
        .image-links a {
            margin: 0 20px;
            text-decoration: none;
            color: #fff;
        }
        .image-links img {
            width: 200px;
            height: auto;
            border-radius: 10px
}

.image-links a:hover img {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Adjust shadow color and strength as needed */
        }

   