/********** common setting **********/

h2 {
    font-size: 2.8rem !important;
    font-weight: 700;
}

img {
    display: block;
    max-width: 100%;
}

button {
    cursor: pointer;
}

.jumbotron {
    margin-bottom: 0 !important;
}

/* Changing the main font and background colour */

body {
	background-color: transparent !important;
	background-image: url("../images/background2.jpg");
	
}

.body-part1 {
	background-color: #273726;
}

	/* Fonts and twxt styles */

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.montserrat-famvan {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.text-style1 {
	color: #E3A925; 
	text-shadow: 2px 2px#C4501A }

.text-style2 {
	color: #FFFFFF; 
	text-shadow: 2px 2px #C4501A }

.text-darkgreen
{color: #273726 !important}

.text-white
{color: #FFFFFF !important}

.lightgreen {
	background-color: #757B33;
	}

.darkgreen {
	background-color: #273726;
	}

.yellow{
	background-color: #e38e26;
	}

.orange{
	background-color: #eb6425;
	}
.border-darkgreen {
	border-color: #273726;
}

.border-yellow {
	border-color: #e38e26;
}


/* Changing the background colour for the header */

header {
	background-color: #EEE4CF;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #EEE4CF;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Corporate navbar */

#navbar-corporate a.active {
	color: #E3A925;
	text-shadow: 1px 1px #eb6447 
}

/* Hero Section shadow */

.atlas-cta {
    border-radius: 22px !important;
    padding: 12px 30px !important;
    font-weight: 700;
    transition: .3s ease-in-out !important;
}

.atlas-cta:hover {
    text-decoration: none;
    transform: translateY(-5px);
}

.atlas-cta-wide {
    width: 100%;
}

.cta-green {
    background: #e38e26;
    color: #192440;
}

.cta-green:hover {
    color: #ffffff;
    background: #e38e26;
}

.cta-blue {
    background: #273726;
    color: #ffffff;
}

.cta-blue:hover {
    color: #ffffff;
    background: #273726;
}

.cta-ghost {
    border: 2px solid #192440 !important;
    color: #192440;
}

.cta-ghost:hover {
    color: #ffffff;
    background: #121a2e;
}

#banner {
    background-size: cover;
}

/********** banner **********/
#banner header {
    overflow: hidden;
}

#banner header img {
    max-width: 80px;
}

/********** feature (skew background) **********/
.feature img {
    width: 100%;
    max-width: 480px;
}

#feature-first {
    background: linear-gradient(168deg, transparent 55%, #E38E26 0);
}

#feature-last {
    background: #E38E26;
}




/********** contact **********/
#contact {
    background-size: cover;
}


#contact ul li {
    padding: 3px 0;
}

#contact form {
    color: #00FFAD;
}

#contact form input,
#contact form textarea {
    background: transparent;
    border: 1px solid #00FFAD;
    color: #ffffff;
}

/********** copyright **********/
#copyright {
    background: #192440;
    padding: 2rem 3rem;
}

#copyright #social-media a {
    width: 40px;
    height: 40px;
    border-radius: 99%;
    background: #ffffff;
    transition: .4s ease;
}

#copyright #social-media a i {
    color: #192440;
    font-size: 1.2rem;
    line-height: 40px;
}

#copyright #social-media a:hover {
    background: #00FFAD;
}

#copyright #social-media a:hover i {
    color: #ffffff;
}



.montserrat-famvan {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
  }
  video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.socials {
    display: flex;
}

.instagram,
.facebook {
    flex: 1;
    padding: 20px;
}

.instagram img,
.facebook img {
    width: 100%;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.instagram img:hover,
.facebook img:hover {
    transform: scale(1.05);
}


 .section {
            padding: -50px;
            text-align: center;
            color: #fff;
	        width: 100%;
	 		box-sizing: border-box;
	 		margin-top: 0px
        }
        #section1 {
            background-color: #273726;
        }
        #section2 {
            background-image: url('photo_texture.jpg');
            background-size: cover;
            background-position: center;
        }
        #section3 {
            background-color: orange;
        }
        .section h2 {
            font-size: 32px;
            margin-bottom: 20px;
        }
        .section p {
            font-size: 18px;
        }
        .image-links {
            display: flex;
            justify-content: center;
            margin-top: 30px;
        }
        .image-links a {
            margin: 0 20px;
            text-decoration: none;
            color: #fff;
        }
        .image-links img {
            width: 200px;
            height: auto;
				
}

.image-links a:hover img {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Adjust shadow color and strength as needed */
        }
.text-style-main {
	color: black; }


.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }

  .video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.carousel {
  width: 50%;
  height: 40%;
  margin: auto;
}
.carousel-item iframe {
        margin-bottom: 30px;
}

.text {
    flex: 1;
    padding-left: 60px; 
}

.image {
    flex: 1;
    text-align: right;
}

/* spacing between images */

 .grid-item {
    position: relative;
    width: 100%; /* set width of each item to 100% */
    height: auto; /* set height to auto for responsiveness */
    overflow: hidden; /* Hide overflow to prevent image overflow */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive grid columns */
    gap: 10px; /* spacing between images */
}





  .grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* maintains aspect ratio without stretching */
    transition: transform 0.3s ease; /* Smooth transition for zoom effect */
  }

  .grid-item:hover img {
    transform: scale(1.1); /* Zoom effect on hover */ 
}

.container {
    max-width: 100%;
    height: auto;
}
	.custom-list {
    list-style: none;
    padding: 0;
}

.custom-list li {
    padding: 10px;
	flex: 1;
}
/* games styles*/
	
/* Three Images Row*/

        .image-container {
            display: flex;
        }
        .image-container img {
            flex-grow: 1; 
            max-width: 33.33%;
        }
        .small-image {
            max-width: 10%; 
        }
	
.larger-text {
    font-size: 4em; /* Adjust the font size as needed */
  }

/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
    .custom-list li {
        font-size: 14px; /* Decrease font size */
    }
}  
/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
    .grid-container { grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));}
	  
/********** RWD **********/
@media (max-width: 575px) {
    #banner h1 {
        font-size: 3.6rem;
    }
}